body {
    font-family: Montserrat, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid #E5E7EB;
    text-align: left;
    width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.element {
    max-width: 450px;
    margin-bottom: -70px;
}

.text-wrapper {
    font-size: 16px;
    text-align: center;
    color: #6D786D;
    margin-bottom: 20px;
}

.heading-sign-in {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.subtext {
    font-size: 14px;
    color: #6D786D;
    margin-bottom: 20px;
}

.label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    display: block;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    cursor: text;
    width: 100%;
    justify-content: space-between; 
}

    .input-wrapper input {
        border: none;
        outline: none;
        font-size: 14px;
        width: 100%;
        padding: 10px;
        cursor: text;
        background: transparent;
    }

.icon {
    width: 18px;
    height: 18px;
    margin-left: 10px; 
}
}


.password-options {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin-bottom: 15px;
}

.forgot-password {
    color: #0d6efd;
    font-size: 12px;
    text-decoration: underline;
}

   

.checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
}

    .checkbox-wrapper input {
        margin-right: 8px;
    }

.login-button {
    width: 100%;
    background-color: #15481F;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight:400;
}

    .login-button:hover {
        background-color: #0b5ed7;
    }

.register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

    .register-link a {
        color: #0d6efd;
        text-decoration: none;
        font-weight: bold;
        text-decoration: underline;
    }

    